includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

services:
    -
        class: App\PHPStan\ConnectionTransactionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

parameters:
    level: max

    paths:
        - app
        - bootstrap
        - config
        - database
        - routes

    excludePaths:
        - bootstrap/cache
        - tests

    # Larastan-specific rules
    checkModelProperties: true
    checkOctaneCompatibility: true
    noModelMake: true
    noUnnecessaryCollectionCall: true

    # PHPStan strictness rules
    reportUnmatchedIgnoredErrors: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    ignoreErrors:
        # Laravel config files use env() which can return various types
        - '#Parameter \#1 \$string of function mb_rtrim expects string, .* given#'
        # Factory definition return types are compatible by convention
        - '#Return type .* of method Database\\Factories\\.*::definition\(\) should be compatible#'
        # Eloquent Builder methods are designed to be called dynamically via fluent chaining
        -
            identifier: staticMethod.dynamicCall
            path: app/*
