includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - bootstrap
        - config
        - database
        - routes

    excludePaths:
        - bootstrap/cache
        - tests

    checkModelProperties: true
    checkOctaneCompatibility: true

    ignoreErrors:
        # Laravel config files use env() which can return various types
        - '#Parameter \#1 \$string of function mb_rtrim expects string, .* given#'
        # Factory definition return types are compatible by convention
        - '#Return type .* of method Database\\Factories\\.*::definition\(\) should be compatible#'
